# Dev stuff.
*.a
*.o
Makefile
Makefile.in
.deps/

# For tests/
*.log
*.trs
/tests/common/check_geom
/tests/common/check_stroke

# For docs/
*.dvi
*.pdf

# Root dir stuff.
/.build-aux
/aclocal.m4
/autom4te.cache
/autoscan.log
/build
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.scan
